{% extends 'base.html.twig' %}
{% block body %}
			
			<!----start-content---->
			<div class="content">
				<div class="wrap">
					<!---start-contact---->
					<div class="contact">
						<div class="section group">				
				<div class="col span_1_of_3">
					<div class="contact_info">
			    	 	<h3>Encuéntranos Aquí</h3>
			    	 		<div class="map">
					   			
					   		</div>
      				</div>
      			<div class="company_address">
				     	<h3>Información</h3>
						    	<p>0 calle 36-40 zona 8</p>
						   		<p>Quetzaltenango, Quetzaltenango.</p>
						   		<p>Guatemala</p>
				   		<p>Teléfono:(502) 7763-5154 </p>
				   		
				   </div>
				</div>				
				<div class="col span_2_of_3">
				  <div class="contact-form">
				  	<h3>Contáctenos</h3>
					    {{ form(form) }}
				    </div>
  				</div>				
			  </div>
					</div>
					<!---End-contact---->
				<div class="clear"> </div>
				</div>
			<!----End-content-->

{% endblock %}
