{% extends '::base.html.twig' %}

{% block body -%}
	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
    <h1>IngresoPaciente edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
    <li>
        <a class="btn btn-default"href="{{ path('ingresopaciente') }}">
            Regresar
        </a>
    </li>
    <br>
    <li>{{ form(delete_form) }}</li>
</ul>
	</div>
 	<div class="col-md-1"></div>
	</div>
{% endblock %}
