{% extends '::base.html.twig' %}

{% block stylesheets %}

{{ form_stylesheet(form) }}

{% endblock %}

{% block javascripts %}

  {{ form_javascript(form) }}
{% endblock %}

{% block body -%}
	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
    <h1>Ingresar datos clínicos del paciente</h1>

    {{ form(form) }}

    
	</div>
 	<div class="col-md-1"></div>
	</div>
      
	
{% endblock %}


